::-webkit-scrollbar { /* chrome based */
    width: 0px; 
    height: 0px;/* ширина scrollbar'a */
    background: transparent;  /* опционально */}

.container {
 width: 100%;
    height: 648px;
}

.bubble {
position: fixed;
    left: 20%;
    z-index: 1;
    animation-name: bub;
    animation-duration: 16s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform: scale(0);
    overflow: hidden;
}

@keyframes bub {
    0%{
    transform: scale(0);
    }
    7%{
    transform: scale(4);
    }
    90%{
    transform: scale(4);
    }
    100%{
    transform: scale(1.4);
        left: -10%;
    }
}
.love {
position:relative;
    width: 100%;
    height: 30%;
    z-index: 2;
    top: 30%;
    right: 5%;
    display: flex;
    transform: scale(0.8);
    justify-content: space-between;
    animation-name: dod;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    
}
@keyframes dod {
    0%{
    transform: scale(0);
    }
    10%{
    transform: scale(0.8);
    }
    90%{
    transform: scale(0.8);
    }
    100%{
    transform: scale(0);
    }
}
.Sofia {
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 2%;
    animation-name: fade;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    opacity: 0;
    
}

.I {
position: relative;
    width: 100%;
    height: 100%;
    animation-name: fade;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    opacity: 0;
    
}

.LOVE {
    position: relative;
    width: 100%;
    height: 100%;
    animation-name: fade;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    opacity: 0;
    

}
.you {
position: relative;
    width: 100%;
    height: 100%;
    animation-name: fade;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    opacity: 0;
}
@keyframes fade {
    0%{
    opacity: 0;
        transform: scale(1);
    }
    10%{
    opacity: 1;
        transform: scale(1);
    }
    80%{
    opacity: 1;
        transform: scale(1);
    }
    100%{
    transform: scale(0);
    }
}
.play{
    position: relative;
width: 10%;
    height: 10%;
    z-index: 2;
    top: 30%;
    left: 40%;
    transform: scale(0);
    animation-name: pl;
    animation-duration: 10s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
@keyframes pl{
    0%{
    transform: scale(0);
        
    }
    35%{
    transform: scale(0.8);
        
    }
    30%{
    
    }
    90%{
    transform: scale(0.8);
    }
    100%{
    transform: scale(0);
    }
}
.pic{
position: relative;
    width: 20%;
    height: 20%;
    z-index: 2;
    top: -45%;
    left: 12%;
    transform: scale(0.8);
    opacity: 0;
    animation-name: pi;
    animation-duration: 6s;
    animation-delay: 12s;
    animation-fill-mode: forwards;
}
@keyframes pi{
    0%{
    opacity: 0;
    }
    90%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}
.text1{
position: relative;
    width: 587px;
    height: 644px;
    z-index: 2;
    margin-top: -35%;
    margin-left: -3%;
    transform: scale(0.8);
    opacity: 0;
    animation-name: pi;
    animation-duration: 6s;
    animation-delay: 14s;
    animation-fill-mode: forwards;
}

@keyframes txt{
0%{
    opacity: 0;
    }
    90%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}
.click{
position: relative;
    width: 20%;
    height: 5%;
    z-index: 2;
    margin-top: -6%;
    margin-left: -3%;
    transform: scale(0.6);
        animation-name: cl;
    animation-duration: 6s;
    animation-delay: 18s;
    animation-fill-mode: forwards;
    opacity: 0;
    
}
@keyframes cl{
0%{
    opacity: 0;
    }
    90%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}


.text,
input[type="checkbox"] {
  display: none;
    z-index: 2;
    position: relative;
    width: 10%;
    height: 10%;
    top: -20%;
    left: 18%;
    transform: scale(0.8);
    
}

input[type="checkbox"]:checked ~ .text {
  display: block;
}

/* Стилизация псевдокнопки */

.btn {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px 8px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
    margin-top: -90px;
}
